* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #16181d;
  padding-block: 80px;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

.division img {
  width: 32px;
  height: 32px;
}